{% load i18n static cms_tags sekizai_tags %}

<div class="plugin plugin-accordion{% if accordion.custom_classes %} {{ accordion.custom_classes }}{% endif %}" id="{{ accordion_id }}">
    {% for plugin in accordion.child_plugin_instances %}
        {% with parentloop=forloop %}{% render_plugin plugin %}{% endwith %}
    {% endfor %}
</div>

{% addtoblock "js" %}<script src="{% static 'js/libs/class.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'js/addons/cl.accordion.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script>
jQuery(document).ready(function ($) {
    new Cl.Accordion("#{{ accordion_id }}", {
        // settings
        'index': {{ accordion.index }},
        'grouping': {% if accordion.grouping %}true{% else %}false{% endif %},
        // static
        'forceClose': true,
        'cls': {
            'trigger': '.accordion-trigger',
            'container': '.accordion-container'
        },
        'lang': {
            'expanded': '{% trans "Close" %} ',
            'collapsed': '{% trans "Open" %} '
        }
    });
});
</script>
{% endaddtoblock %}