{% load i18n static sekizai_tags cms_tags %}

<div class="plugin plugin-accordion {% if accordion.custom_classes %} {{ accordion.custom_classes }} {% endif %}" id="{{ accordion_id }}">
	{% for plugin in accordion.child_plugin_instances %}
		{% with parentloop=forloop %}{% render_plugin plugin %}{% endwith %}
	{% endfor %}
</div>

{% addtoblock "js" %}<script src="{% static "js/plugins/cl.accordion.min.js" %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script>
jQuery(document).ready(function ($) {
	{% comment %}
	"index" and "grouping" are profided in "accordion_json_options"
	   - "index": setting for setting the initial opened accordion, null for none
	   - "grouping": defines if only one can be opened at a time or every entry can be opened individually
	{% endcomment %}
	var options = $.extend({
		// settings
		'index': null,
		'grouping': true,
		// leave this static
		'forceClose': true,
		'cls': {
			'trigger': '.accordion-trigger',
			'container': '.accordion-container'
		},
		'lang': {
			'expanded': '{% trans "Close" %} ',
			'collapsed': '{% trans "Open" %} '
		}
	}, {{ accordion_json_options|safe }});
	new Cl.Accordion("#{{ accordion_id }}", options);
});
</script>
{% endaddtoblock %}
